@import "tailwindcss";

@theme{
    --color-red-color:#FF3D1F;
    --color-red-fade:#ff3d1f8e;
    --color-white-color: #ffffff;
    --color-black-font: #1A1A1A;
    --color-sub-color:#9F9C99;
    --color-beige-color:#FFF8F4;
    --color-beige-dark:#EDE6E1;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #FFF8F4 inset !important; 
  -webkit-text-fill-color: #232c33 !important; 
}

body {
  background-color: #FFF1E4;
  margin: 0;
}