@import "tailwindcss";

@theme{
    --color-default-color: #9d0208;
    --color-secondary-color: #ce4257;
    --color-bg-color: #e7e7e7;
    --color-text-color: #232c33;
}
:root {
    --default-color: #9d0208;
    --secondary-color: #ce4257;
    --bg-color: #e7e7e7;
    --text-color: #232c33;
}